body{
	margin: 0 auto;

}
.navbar{
	background-color: #EA2027;
	height: 70px;
	width: 100%;
    margin: 0px;
    float: right;
    display: inline;
    margin-top: 50px
}
.logo{
	margin-left: 50px;
	margin-bottom: 10;
	border: solid white;
	margin-bottom: 500px;

}